{% extends '../../layouts/frontend/app.html' %}

{% block title%}
        | contact
{% endblock %}

{% load static %}
{% block slider %}
  <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Contact Us</h1>
                <a href="{% url 'home' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href=""> Contact </a>
            </div>
        </div>
  </div>
{% endblock %}

 {% block content %}
 <!-- Contact Start -->
    <div class="container-fluid bg-secondary px-0">
        <div class="row g-0">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 py-6 px-5">
                   {% if messages %}
                     {% for message in messages %}
                       <div class="alert alert-{{message.tags}} alert-dismissible  bg-{{message.tags}} text-white border-0 fade show" role="alert">
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                           <strong>{{message}}</strong>
                       </div>
                     {% endfor %}
                   {% endif %}
                <h1 class="display-5 mb-4">Contact For Any Queries</h1>
                <form action=" " method="post">
                     {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="name" id="form-floating-1" placeholder="Full Name" required>
                                <label for="form-floating-1">Full Name</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" name="email" id="form-floating-2" placeholder="Email address" required>
                                <label for="form-floating-2">Email address</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="subject" id="form-floating-3" placeholder="Subject" required>
                                <label for="form-floating-3">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Message" name="message" id="form-floating-4" style="height: 150px" required></textarea>
                                <label for="form-floating-4">Message</label>
                              </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- Contact End -->
{% endblock %}