{% load static %}


 <!-- App css -->
 <link rel="stylesheet" type="text/css"  href="{%static 'backend/assets/css/icons.min.css'%}" />
 <link rel="stylesheet" type="text/css" id="light-style"  href="{%static 'backend/assets/css/app.min.css'%}" />
 <link rel="stylesheet" type="text/css" id="dark-style"  href="{%static 'backend/assets/css/app-dark.min.css'%}" />
<!-- SimpleMDE css -->
<link href="{%static 'backend/assets/css/vendor/simplemde.min.css'%}" rel="stylesheet" type="text/css" />

<!-- third party css -->
<link href="{%static 'backend/assets/css/vendor/dataTables.bootstrap5.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'backend/assets/css/vendor/responsive.bootstrap5.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'backend/assets/css/vendor/buttons.bootstrap5.css'%}" rel="stylesheet" type="text/css">
<link href="{%static 'backend/assets/css/vendor/select.bootstrap5.css'%}" rel="stylesheet" type="text/css">