    <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                2022 © Md. Minhajur Rahman
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="https://www.facebook.com/mdminhaj.mdminhaj.9828?mibextid=ZbWKwL">About</a>
                                    <a href="https://www.facebook.com/mdminhaj.mdminhaj.9828?mibextid=ZbWKwL">Support</a>
                                    <a href="https://www.facebook.com/mdminhaj.mdminhaj.9828?mibextid=ZbWKwL">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>